@model StudentWebs.Models.Faculty

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
<h1>Edit</h1>

<h4>Faculty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FacultyName" class="control-label"></label>
                <input asp-for="FacultyName" class="form-control" />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
            <div class="col-12 pb-4 ">

                <button type="submit" class="btn btn-outline-primary" style="width:160px">Save Changes</button>
                <a asp-controller="Faculties" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                    Back to List
                </a>

            </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
